%header.navbar.bg-light
  .container-fluid
    = link_to t(:app_name), root_path, class: "navbar-brand"
    %button.navbar-toggler{"aria-controls" => "offcanvasNavbar", "data-bs-target" => "#offcanvasNavbar", "data-bs-toggle" => "offcanvas", type: "button"}
      %span.navbar-toggler-icon
    #offcanvasNavbar.offcanvas.offcanvas-end{"aria-labelledby" => "offcanvasNavbarLabel", tabindex: "-1"}
      .offcanvas-header
        %h5#offcanvasNavbarLabel.offcanvas-title
          = t :app_name
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", type: "button"}
      .offcanvas-body
        %ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
          %li.nav-item
            = link_to t('link.to_home'), root_path, class: "nav-link"
          %li.nav-item
            = link_to t('link.to_doctors'), doctors_path, class: "nav-link"
          - if user_signed_in?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
                = t 'link.to_my_account'
              %ul.dropdown-menu
                %li
                  = link_to t('link.to_settings'), user_settings_path, class: "dropdown-item"
                %li
                  %hr.dropdown-divider/
                %li
                  = link_to t('link.log_out'), destroy_user_session_path, :method => :delete, class: "dropdown-item"
          - elsif doctor_signed_in?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
                = t 'link.to_my_account'
              %ul.dropdown-menu
                %li
                  = link_to t('link.to_settings'), doctor_settings_path, class: "dropdown-item"
                %li
                  %hr.dropdown-divider/
                %li
                  = link_to t('link.log_out'), destroy_user_session_path, :method => :delete, class: "dropdown-item"
          - else
            - unless user_signed_in?
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
                  = t 'link.user'
                %ul.dropdown-menu
                  %li
                    = link_to t('link.log_in'), new_user_session_path, class: "dropdown-item"
                  %li
                    = link_to t('link.sign_up'), new_user_registration_path, class: "dropdown-item"
            - unless doctor_signed_in?
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
                  = t 'link.doctor'
                %ul.dropdown-menu
                  %li
                    = link_to t('link.log_in'), new_doctor_session_path, class: "dropdown-item"
                  %li
                    = link_to t('link.sign_up'), new_doctor_registration_path, class: "dropdown-item"

= render("/partials/alert", msg: notice, type: :success) if notice
= render("/partials/alert", msg: alert, type: :danger) if alert

= render "/partials/modal"
