.doctor.card.col-xs-12.col-sm-3
  = link_to doctor do
    = image_tag doctor.image_url, class: "card-img-top"
  .card-body
    %table.table.table-sm
      %tbody
        %tr
          %td{colspan: 2}
            %h5.card-title
              = doctor.full_name
        %tr
          %td
            = t '.specialty'
          %td
            %p.card-text
              = doctor.specialty
        %tr
          %td
            %small.text-muted
              = t '.work_experience'
          %td
            %p.card-text
              %small.text-muted
                = doctor.seniority
