= simple_form_for(resource, url: resource_edit_path, html: { method: :put, id: "edit_password", class: "disabled-submit-btn"}) do |f|
  = f.input :current_password,
            input_html: { autocomplete: "current-password" }
  = f.input :password,
            label: t('.new_password'),
            input_html: { autocomplete: "new-password" }
  = f.input :password_confirmation,
            input_html: { autocomplete: "new-password" }
  .general-settings-btn.mb-4
    = f.button :submit, t('.submit'), class: "btn-outline-primary", disabled: true
