%table.table.table-borderless
  %tbody
    %tr
      %td
        = t ".date"
      %td.date
        = @appointment.duration_datetime
    %tr
      %td
        = t ".doctor"
      %td.doctor
        = @appointment.doctor.full_name
    %tr
      %td
        = t ".specialty"
      %td.specialty
        = @appointment.doctor.specialty&.name
    %tr
      %td
        = t ".patient"
      %td.patient
        = @appointment.full_name
    %tr
      %td
        = t ".user_tel"
      %td.user_tel
        = @appointment.user.phone_number
    %tr
      %td
        = t ".symptoms"
      %td.symptoms
        = @appointment.symptoms